body {
    padding: 0px;
    margin: 0px;
}
nav {
    width: 100%;
}

ul a{
    text-decoration: none;
    list-style-type: none;
    color: #004d49;
    font-size:20px;
}
ul:hover {
    background:white;
    color: #004d49;
}
ul{
    margin-top: 0px;
    background: transparent;
    color: #fff;
    list-style-type: none;
    display: flex;
    justify-content:space-around;
   padding: 20px;   
}
.a-tag{
    text-decoration: none;
    font-size: 15px;
    color: #004d49;
}

 .backg {
    background-image: url('/image/hi.jpeg');
    width: 100%;
    height: 100vh;
    margin: 0px;
 }
#text{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    color: white;

}
.sign{
     display: flex;
    justify-content: center;
    
}
.sign button{
    border-radius: 30px;
    padding: 20px 35px;
    background-color:#005450;
    border: none;
    color: #fff;
    font-size: 15px;
}
#mem{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 19px;
    margin-top: 25px;

}
.bground{
    height: 250px;
}
#text2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10%;
    font-size:70px;
    color: #005450;
}
#about{
    font-family: 'Roboto', sans-serif;
    text-align: center;   
    color: #005450; 
}
.image-box{
    margin-top: 70px;
    width:auto;
    height: 400px;
    display: flex;
    padding: 50px 107px;

}

.img-div{
    width: 50%;
    background-image: url('/image/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.text{
    margin-left: 60px;
    width: 50%;
}

 .right {
    width: 50%;
    float: right;
}
#offices{
    font-size:4.6rem;
    margin-bottom: 24px;
    color:#004d49;
     
}
#textp{
    color: #004d49;
    font-family: Ginto,helvetica,"sans-serif";
    font-size: 15.7px;
    padding-right: 10px;

} 


.second-sec{
    display: flex;
    padding: 50px 107px;
}
.img-div-2{
    background-image: url('/image/media-home-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    width: 50%;
}
.text-2{
    width:50%;
  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #004d49;
}
#top-text{
    font-size: 70px;
}
#par-text{
    font-size: 20px;
}
.third-sec{
    display: flex;
    padding: 50px 107px;
}
.img-div-3{
    background-image: url("/image/media-home-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    width: 50%;
}
.text-3{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #004d49;
}
#top-text-three{
    font-size:70px;
    margin-left: 60px;
}
#par-text-three{
 font-size: 20px;
  margin-left:100; 
}
.fourth-sec{
    display: flex;
    padding: 50px 107px;
}
.img-div-4{
    background-image: url('/image/photo-1470074.jpg');
    background-size: cover;
    height: 540px;
    width: 50%;
}
.text-4{
    width:50%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    color: #004d49;
}
#top-text-four{
    font-size:70px;
    margin-bottom: 10px;
    margin-right: 80px;
}
#par-text-four{
    font-size: 60px;

}
.backcolor{
    background-color:#005450;
    width: 100%;
    height:800px;
    margin-bottom: 90px;
}
#color-text{
    font-size: 80px;
    color: #fff;
    margin-left: 50px;
    padding-bottom: 200px;
}
#color-text a{
    text-decoration: none;
    color: white;
}
#color-hr{
    font-size: 30px;
    padding-top: 40px;
    margin-top: 15px;
    margin-left: 50px;
    color:#fff;
}
.video-img{
   display: flex;
   justify-content: center;  
}
.video-img-one{
    width: 970px;
    height: 500px;
}
.pictures{
    display: flex;
    padding: 50px 107px;
}
.pictures-one{
    background-image: url('/image/pe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    height: 540px;
    width: 500px;
   display: inline-block;
}
.pictures-two{
    background-image: url('/image/pf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    height: 540px;
    width: 500px;
    display: inline-block;
}
#mem-text{
    font-family: Ginto,helvetica,"sans-serif";
    color: #005450;
    font-size: 50px;
}
#text-mem{
    font-family: Ginto,helvetica,"sans-serif";
    color: #005450;
    font-size: 15px;
    padding-bottom:20px;
}
#text-mem-one{
    font-family: Ginto,helvetica,"sans-serif";
  color:#005450;
  font-size: 15px;
  padding-left: 20px;
}
#mem-text-one{
    color: #004d49;
    font-family: Ginto,helvetica,"sans-serif";
    font-size: 60px;
    padding-left: 20px;   
}
#list-head{
    font-size: 40px;
    padding-left: 170px;
    color: #005450;
    font-family: Ginto,helvetica,"sans-serif";
    margin-bottom: auto;
}
.list{
    display: flex;
    justify-content: center
}

.list-image{
    margin-top: 50px;
    background-image: url('/image/list-one.jpg');
    background-size: cover;
    height: 300px;
    width: 340px;
   
}
.list-text{
    font-size: 50px;
}
.list-text-one{
  margin-bottom: 100px;
}
.text-div{
    padding-left: 80px;
    color: #004d49;
}
.list-two{
    display: flex;
    padding: 70px 104px;
}
.list-image-one{
    background-image: url('/image/list-two.jpg');
    background-size:cover;
    height: 300px;
    width: 340px;
}
.text-div-one{
    padding-left: 80px;
    color: #004d49;
    
}
.list-text-two{
    font-family:Ginto,helvetica,"sans-serif";
    font-size: 45px;
  
}
.back-color{
    background-color:#005450;
    width: 100%;
    height:auto;
    padding-bottom: 100px;
}
.get-start{
  padding-top: 50px;
    font-family:Ginto,helvetica,"sans-serif";
    font-size: 60px;
    text-align: center;
    color: #fff;

}
.get-start h1 {
    padding-top: 50px;
}
.sign-up{
    display: flex;
    justify-content: center;
}
.mem-but{
   margin-right: 40px;
   border-radius: 30px;
   padding: 20px 35px;
   border: none;
   color: #004d49;
   font-size: 15px;
   background-color: #cff882;
}
.mem-but-two{
    margin-left: 40px;
    border-radius: 30px;
    padding:20px 35px;
    border:none;
    background-color: #fff;
    color: #004d49;
    font-size: 15px;
}
.arrg-text{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    margin-top: 100px;
}
.social-media-one{
    margin-bottom: 15px;
}
.arrg-text a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    
}
.media{
    display: flex;
    padding:10px;
}
